#main-aside-wrapper {
  background-color: #CD5C5C;
}

#cont {
    padding: 15px;
    text-align: center;
  background-color: #FF1493;
  width: 60rem;
}


p {
  font-size: 20px;
  font-weight: bold;
}

footer{
    
    height: 20px;
}
